<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuggyAi</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header id="divHead">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="../static/styles/beetle.png" style="max-height: 75px; max-width: 75px;"/>

            <div id="title" >
                <h1>BuggyAI</h1>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://buggyai.com/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Manual.html">Manual</a>
                </li>
              </ul>
              <div id="icon-ref">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </div>
        </nav>
    </header>
    
    <div id="wrapper">
        <h1 class="pageTitle">About</h1>
        <p>BuggyAI is currently under the works as a Capstone project for Central Washington University.</p>
        <p>The following are the authors of this project:</p>
        <ul style="list-style: none;">
            <li>Kyle Brown: Back-end, server maintenance, security</li>
            <li>Miguel Garnica: Machine Learning Model designer</li>
            <li>Ky Phan: Machine Learning Model designer</li>
            <li><a href="mailto:michell.valdivia@cwu.edu">Michell Valdivia</a>: Front-end</li>
            <li>Dr. Adriano Cavalcanti: Advisor</li>
        </ul>

        <p>Thank you to Xiaoping Wu et. al for giving us permission to use their Dataset for Insect Pest Recognition.</p>
        <p>Link to their work here: <a href="https://github.com/xpwu95/IP102">https://github.com/xpwu95/IP102</a></p>
    </div>
    
   
  

</body>

</html>
