<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuggyAi</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header id="divHead">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="title" >
                <h1>BuggyAI</h1>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="https://buggyai.com/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./About.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./Manual.html">Manual</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>

    <div id="wrapper">

        <form id="upload_form" enctype="multipart/form-data">
            <label for="inputFile" class="btn btn-primary" id="imposter">Choose a picture</label>
            <input type="file" hidden="hidden" name="inputFile" id="inputFile"/>
            <button class="btn btn-primary" id="identify-bttn">Identify</button>
        </form>

        <div class="image-preview" id="imagePreview">
            <img src="" alt="Image Preview" class="image-preview__image" id="user_image">
            <span class="image-preview__default-text">Image Preview</span>
        </div>

        <h3>Prediction Results:</h3>
        <p id="pred-window" name="pred-window"></p>
    </div>

    <script>
        // [ ---------------------------------- File Testing Functions ---------------------------------------]
        function checkFileType(file) {
            let validExtensions = ['jpg', 'jpeg', 'png'];
            let trimExt = file.name.split('.');
            let extension = trimExt[trimExt.length - 1];

            if (validExtensions.includes(extension.toLowerCase())) {
                console.log('File type valid.')
                return "";
            } else {
                console.log('File type is invalid.')
                return "Invalid file type";
            }
        }

        function checkFileSize(file) {
            console.log("Num Bytes:", file.size);
            let limit1MB = 1048576;

            if (file.size <= limit1MB) {
                console.log('File size within limit');
                return "";
            } else {
                console.log('File size larger than 1MB');
                return "File size larger than 1MB";
            }
        }

        function checkSafeFileName(file) {
            let valid = true;
            let trimName = file.name.split('.');
            let illegalChars = ['\\', '/', ':', '*', '?', '"', '<', '>', '|'];
            let illegalFileNames = ['aux', 'nul', 'prn', 'con', 'lpt', 'com'];

            if (illegalChars.includes(file.name)) {
                console.log('Filename contains an illegal character');
                return "Filename contains an illegal character";
            } 
            if (file.name[0] == '.') {
                console.log('Filename starts with an illegal character');
                return "Filename starts with an illegal character";
            }
            if (illegalFileNames.includes(trimName[0].toLowerCase())) {
                console.log('Filename is not allowed');
                return "Filename is not allowed";
            }

            return "";
        }
        // [ ---------------------------------------------------------------------------------------]

        const inpFile = document.getElementById("inputFile");
        const preivewContainer = document.getElementById("imagePreview");
        const previewImage = preivewContainer.querySelector(".image-preview__image");
        const previewDefaultText = preivewContainer.querySelector(".image-preview__default-text");

        inpFile.addEventListener('change', function() {

            const file = this.files[0];

            if (file) {
                // [----- File Testing -----]
                let errorMsg = "";
                let validFile = true;

                errorMsg = checkSafeFileName(file);
                if (errorMsg != "") {
                    validFile = false;
                    alert(errorMsg);
                } else {
                    console.log("Filename safe")
                }

                errorMsg = checkFileType(file);
                if (errorMsg != "") {
                    validFile = false;
                    alert(errorMsg);
                }
                errorMsg = checkFileSize(file);
                if (errorMsg != "") {
                    validFile = false;
                    alert(errorMsg);
                }

                if (validFile) {

                    const reader = new FileReader();

                    previewDefaultText.style.display = "none";
                    previewImage.style.display = "block";

                    reader.addEventListener("load", function() {
                        previewImage.setAttribute("src", this.result);
                    });

                    reader.readAsDataURL(file);

                } else {
                    previewDefaultText.style.display = null;
                    previewImage.style.display = null;
                    previewImage.setAttribute("src", "");
                }

            } else {
                previewDefaultText.style.display = null;
                previewImage.style.display = null;
                previewImage.setAttribute("src", "");
            }
        });

        const ident_button = document.getElementById("identify-bttn");

        // ----- POST REQUEST -----

        ident_button.addEventListener('click', function(e) {

            e.preventDefault();

            // Check file image type .jpg or .jpeg / .png?
            console.log("button pressed!");

            if(document.getElementById('user_image').getAttribute('src') != "") {

                // [This appends only an image file to the FormData object which our POST handler expects]
                let formData = new FormData();
                let image_file = $('#inputFile')[0].files[0];
                formData.append('file', image_file);

                res = $.ajax({
                    url: 'https://buggyai.com/prediction',
                    data: formData,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                });

                res.done(function(data) {
                    $('#pred-window').text(data)
                    console.log(data)
                })

                // [This method below might have fields needed later]

                /*$.ajax({
                    url: 'http://127.0.0.1:5000/prediction',
                    data: formData,
                    processData: false,
                    contentType: false,
                    method: 'post',
                    type: 'post',
                    dataType: 'json',
                    enctype: 'multipart/form-data',
                    success: function(data) {
                        console.log(JSON.stringify(data));
                        alert(JSON.stringify(data));
                    },
                });
                */
            //})

            } else {
                console.log('No image uploaded!');
                alert('No image uploaded!');
            }

            return false;
        });

    </script>
</body>
</html>
