html, body {
    background-color: #EFF1F3;
    height: 100%;
    width: 100%;
}

#divHead {
    background-color: #60D662;
    height: 15%;
}

h1 {
    font-family: 'Hammersmith One', sans-serif;
    color: #223843;
    padding-top: 3%;
    font-size: 60px;
}


#title {
    height: 40%;
    width: 20%;
    margin-left: 5%;
    margin-right: auto;

}

#wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p#pred-window {
    width: 100%;
    height: 150px;
    border: 2px solid #DBD3D8;
}

.image-preview {
    width: 100%;
    min-height: 300px;
    border: 2px solid #DBD3D8;
    margin-top: 1%;

    /* Default Text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: solid black;
}

.image-preview__image {
    display: none;
    width: 100%;
}

form#upload_form{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

h3, p{
    color: #223843;
}

#imposter {
    margin-right: 10%;
}

#imposter, #identify-bttn {
    color: #EFF1F3;
    border-color: #223843;
    background-color: #223843;
}

#imposter:hover, #identify-bttn:hover {
    color: #223843;
    border-color: #223843;
    background-color:  #EFF1F3;
}
